<!-- <p>{{movie.title}}</p> -->
<div class="container-fluid" *ngIf="movie">
    <div class="row" style="background-image: url({{imageUrl}}{{movie.backdropPath}});">
        <div class="col-4" style="width: 22rem;">
            <div class="m-2 my-4">
                <div class="card shadow rounded-4 border border-4">
                    <img src="{{imageUrl}}{{movie.posterPath}}" class="rounded-4" alt="" />
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="m-2 mb-4">
                <div class="card shadow rounded-4 p-3 border-0">
                    <div class="card-title h2">
                        <span class="fw-bold">{{movie.title}}</span>
                        <span class="text-muted"> ({{movie.releaseDate | date: 'YYYY'}})</span>
                    </div>
                    <div class="d-flex d-inline">
                        <span>{{movie.releaseDate | date: 'dd/MM/YYYY'}} </span> &nbsp; •&nbsp;
                        <div *ngFor="let genre of movie.genres; let last=last">
                            <span>{{genre.name}}</span>
                            <ng-container *ngIf="!last">, </ng-container>&nbsp;
                        </div> •&nbsp;
                        <span>{{ convertMinutesToTime(movie.runtime) }}</span>
                    </div>
                    <div class="d-flex d-inline mt-4 justify-content-left align-items-center">
                        <div class="card bg-darkblue text-white rounded-circle border-0 p-2 me-3">
                            <i class="fa fa-user fa-1x"></i>
                        </div>
                        <div class="card bg-darkblue text-white rounded-circle border-0 p-2 me-3">
                            <i class="fa fa-list fa-1x"></i>
                        </div>
                        <div class="card bg-darkblue text-white rounded-circle border-0 p-2 me-3">
                            <i class="fa fa-heart fa-1x"></i>
                        </div>
                        <div class="card bg-darkblue text-white rounded-circle border-0 p-2 me-3">
                            <i class="fa fa-bookmark fa-1x"></i>
                        </div>
                        <div class="card bg-darkblue text-white rounded-circle border-0 p-2 me-3">
                            <i class="fa fa-star fa-1x"></i>
                        </div>
                        <div class="card text-dark rounded-circle border-0 p-2 me-3">
                            <div class="fw-bold">
                                <i class="fa fa-play fa-1x"></i> <span> Play Trailer </span>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <span class="h5 fst-italic text-muted"> {{movie.tagline}} </span>
                    </div>
                    <div>
                        <div class="h5 fw-bold">Overview</div>
                        <p>{{movie.overview}}</p>
                    </div>
                    <div class="my-3">
                        <div class="col-md-12">
                            <div class="scrollable-container">
                                <div class="d-flex" *ngFor="let crew of movie.credits.crew">
                                    <div class="col-md-4" *ngIf="crew.job === 'Characters'">
                                        <div class="fw-bold">{{crew.name}}</div>
                                        <p>Characters</p>
                                    </div>
                                    <div class="col-md-4" *ngIf="crew.job === 'Director'">
                                        <div class="fw-bold">{{crew.name}}</div>
                                        <p>Director</p>
                                    </div>
                                    <div class="col-md-4" *ngIf="crew.job === 'Writer'">
                                        <div class="fw-bold">{{crew.name}}</div>
                                        <p>Writer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">Top Billed Cast</div>
        <div class="col-md-4">Social Media</div>
    </div>

</div>