API/obj
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.g.targets
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
API/obj/Debug/net7.0/API.AssemblyInfo.cs
API/obj/Debug/net7.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net7.0/API.assets.cache
API/obj/Debug/net7.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net7.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net7.0/API.GlobalUsings.g.cs
API/appsettings.json
API/appsettings.Development.json
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
Application/obj/project.assets.json
Application/obj/project.nuget.cache
.gitignore
Domain/obj
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Infrastructure/obj
Domain/bin
Infrastructure/bin
API/bin
Application/obj
Application/bin
API.Tests.Unit/obj

API/mitmovies.db
API/mitmovies.db-shm
API/mitmovies.db-wal
