src/backend/API/obj
src/backend/API/obj/API.csproj.nuget.dgspec.json
src/backend/API/obj/API.csproj.nuget.g.props
src/backend/API/obj/API.csproj.nuget.g.targets
src/backend/API/obj/project.assets.json
src/backend/API/obj/project.nuget.cache
src/backend/API/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/backend/API/obj/Debug/net7.0/API.AssemblyInfo.cs
src/backend/API/obj/Debug/net7.0/API.AssemblyInfoInputs.cache
src/backend/API/obj/Debug/net7.0/API.assets.cache
src/backend/API/obj/Debug/net7.0/API.csproj.AssemblyReference.cache
src/backend/API/obj/Debug/net7.0/API.GeneratedMSBuildEditorConfig.editorconfig
src/backend/API/obj/Debug/net7.0/API.GlobalUsings.g.cs
src/backend/API/appsettings.json
src/backend/API/appsettings.Development.json
src/backend/Application/obj/Application.csproj.nuget.dgspec.json
src/backend/Application/obj/Application.csproj.nuget.g.props
src/backend/Application/obj/Application.csproj.nuget.g.targets
src/backend/Application/obj/project.assets.json
src/backend/Application/obj/project.nuget.cache
src/backend/.gitignore
src/backend/Domain/obj
src/backend/Domain/obj/Domain.csproj.nuget.dgspec.json
src/backend/Domain/obj/Domain.csproj.nuget.g.props
src/backend/Domain/obj/Domain.csproj.nuget.g.targets
src/backend/Domain/obj/project.assets.json
src/backend/Domain/obj/project.nuget.cache
src/backend/Infrastructure/obj
src/backend/Domain/bin
src/backend/Infrastructure/bin
src/backend/API/bin
src/backend/Application/obj
src/backend/Application/bin

src/backend/API/mitmovies.db
src/backend/API/mitmovies.db-shm
src/backend/API/mitmovies.db-wal

src/backend/MitMovies.Tests.Unit/obj
src/backend/MitMovies.Tests.Unit/bin

node_modules/*