<a routerLink="/tv/{{tvShow.id}}" *ngIf="tvShow">
    <div class=" m-2 mb-4" style="width: 14rem">
        <div class="position-relative">
            <div class="card border-0 bg-darkblue card-img-wrapper">
                <img src="{{imageUrl}}{{tvShow.posterPath}}" class="rounded-4" alt="" />
                <ul class="list-inline member-icons animate text-center" *ngIf="!(accountService.currentUser$ | async)">
                    <li class="list-inline-item">
                        <button class="btn bg-darkblue title"><i class="fa fa-heart"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn bg-darkblue title"><i class="fa fa-bookmark"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn bg-darkblue title">
                            <i class="fa fa-envelope"></i></button>
                    </li>
                </ul>
                <div class="card-header bg-dark">
                    <div class="fw-bold fs-6 title">{{tvShow.name}}</div>
                    <p class="text-secondary">{{tvShow.firstAirDate | date: 'MMM dd, YYYY'}}</p>
                </div>
            </div>
            <div class="position-absolute top-100 start-50 translate-middle">
                <div class="card shadow rounded-pill bg-dark text-white fw-bold p-1 border border-3 border-secondary">
                    {{getPopularity(tvShow.voteAverage)}}%
                </div>
            </div>
        </div>
    </div>
</a>