<div class=" m-2 mb-4" style="width: 14rem" *ngIf="movie">
  <div class="card position-relative">
    <img src="{{imageUrl}}{{movie.posterPath}}" class="" alt="" />
    <div class="position-absolute top-100 start-50 translate-middle">
      <div class="card shadow rounded-pill bg-dark text-white fw-bold p-1 border border-3 bor">
        {{movie.popularity}}%
      </div>
    </div>
    <div class="card-header">
      <p class="fw-bold fs-6">{{movie.title}}</p>
      <p class="text-secondary">{{movie.releaseDate || 'DD/MMM/YYYY'}}</p>
    </div>
  </div>
</div>