<div class="container-fluid">
    <div class="p-2">
        <h4>Top Billed Cast</h4>
        <div class="scrollable-container" *ngIf="credits.cast.length>0">
            <div class="scrollable-row">
                <div class="col" *ngFor="let cast of credits.cast">
                    <div *ngIf="cast.profilePath">
                        <a routerLinkActive="active">
                            <div class="m-2 mb-4" style="width: 12rem">
                                <div class="card rounded-3 shadow border-0">
                                    <img src="{{imageUrl}}{{cast.profilePath}}" class="rounded-top" alt="" />
                                    <div class="p-2">
                                        <div class="fw-bold h5">{{cast.character}}</div>
                                        <p class="text-muted">{{cast.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <a>
                    <div class="m-2 mb-4" style="width: 12rem">
                        <div class="">
                            <div class="p-2 d-flex justify-content-center">
                                <a class="h4 text-dark" style="text-decoration: none;" routerLink="casts"
                                    routerLinkActive="active">View More ---</a>
                            </div>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
        <div class="m-3" *ngIf="credits.cast.length===0">
            <h4 class="text-muted">No Cast Found</h4>
        </div>
    </div>
</div>
<!-- <div *ngIf="credits.cast.length>0">
    <div class="p-2 mt-3">
        <a class="h4" routerLink="/casts" routerLinkActive="active">Full Cast &
            Crew</a>
    </div>
</div> -->