<div class="container-fluid">
  <div class="p-2">
    <h4 class="fw-bold my-4">TRENDING MOVIES</h4>
    <tabset type="pills">
      <tab heading="Today" (selectTab)="getTodayTrendingMovies()" class="m-2">
        <div class="scrollable-container">
          <div class="scrollable-row" *ngIf="todayTrendingMovies">
            <div class="col" *ngFor="let movie of todayTrendingMovies">
              <app-movie-card-short [movie]="movie"></app-movie-card-short>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="This Week" (selectTab)="getThisWeekTrendingMovies()" class="m-2">
        <div class="scrollable-container">
          <div class="scrollable-row" *ngIf="thisWeekTrendingMovies">
            <div class="col" *ngFor="let movie of thisWeekTrendingMovies">
              <app-movie-card-short [movie]="movie"></app-movie-card-short>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>