<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image bg-primary">
              <img
                src="./assets/user.png"
                style="object-fit: fill"
                alt="loginpic"
              />
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form
                  #loginForm="ngForm"
                  (ngSubmit)="login()"
                  autocomplete="off"
                >
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user fa-2x"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Enter your username"
                        name="username"
                        [(ngModel)]="model.username"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa fa-lock fa-2x"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Enter your password"
                        name="password"
                        [(ngModel)]="model.password"
                      />
                    </div>
                  </div>
                  <div class="aligns-content-center">
                    <button type="submit" class="btn btn-primary mx-3">
                      Log In
                    </button>
                    <button class="btn btn-secondary">Go back</button>
                  </div>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
