<div class="container-fluid bg-darkblue">
    <div class="container py-4">
        <h1 class="text-white">Top Rated Tv Shows</h1>
    </div>
</div>
<div class="fluid-container">
    <div class="row p-3">
        <div class="col-md-4 mb-2">
            <div class="card shadow border-0 rounded-4">
                <div class="card-header bg-darkblue text-white">
                    <span class="h4">{{response?.totalResults || 0}} Top Rated Tv Shows Found!</span>
                </div>
                <div class="card-body">
                    <div class="border border-4 rounded-4 mb-2 a">
                        <div class="py-2 px-3 fw-bold">
                            <span class="me-3">TvShows</span>
                            <span class="text-muted">{{tvShows.length}}</span>
                        </div>
                    </div>
                    <div class="border border-4 rounded-4 a">
                        <div class="py-2 px-3 fw-bold">
                            <span class="me-3">TV Shows</span>
                            <span class="text-muted">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="h3 mb-3">
                <span class="me-3">TV Shows </span>
                <span class="text-muted">{{tvShows.length}} </span>
            </div>
            <div *ngIf="tvShows.length>0">
                <div *ngFor="let tvShow of tvShows" class="mb-4">
                    <div class="card shadow border-0 rounded-4">
                        <div class="row">
                            <div class="col-4 col-sm-3 col-md-4 col-lg-3 col-xl-2">
                                <img *ngIf="tvShow.posterPath" src="{{imageUrl}}{{tvShow.posterPath}}"
                                    class="rounded-4 rounded-end">
                                <img *ngIf="!tvShow.posterPath" src="./assets/image.png" class="rounded-4 rounded-end">
                            </div>
                            <div class="col-8 col-sm-9 col-md-8 col-lg-9 col-xl-10">
                                <div class="description">
                                    <a routerLink="/tv/{{tvShow.id}}" routerLinkActive="active">
                                        <div class="mt-2 h4">{{tvShow.name}}</div>
                                    </a>
                                    <span class="text-muted">{{tvShow.firstAirDate |date: 'MMM dd, YYYY'}}</span>
                                    <p class="mt-3 overview">{{tvShow.overview}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tvShows.length===0">
                <h3 class="text-muted">No TV shows found!</h3>
            </div>
            <!-- PAGINATION -->
            <div class="row">
                <div class="col-xs-12 col-12">
                    <div *ngIf="response">
                        <pagination [(ngModel)]="response.page" (pageChanged)="pageChanged($event)" [itemsPerPage]="20"
                            [totalItems]="response.totalResults" [rotate]="true" [maxSize]="5" [boundaryLinks]="true"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>