<div class="m-3">
  <div class="card rounded-4">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <div class="col-12">
            <img src="./assets/pic.jpg" class="i" alt="" />
          </div>
        </div>
        <div class="col-10 py-3">
          <div class="row">
            <div class="col-1">RATING Logo</div>
            <div class="col-11">
              <div class="">
                <span class="fw-bold">TITLE</span>
              </div>
              <div>
                <span class="fw-regular text-secondary">Release Date</span>
              </div>
            </div>
          </div>
          <div class="py-4">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
              eveniet facere perspiciatis ab ullam voluptatibus illo deleniti a!
              Praesentium temporibus dignissimos vel adipisci rem alias
              voluptatum est, error similique veritatis.
            </p>
          </div>
          <div class="row">
            <div
              class="col fw-regular text-secondary fs-5 action-button"
              id="action-button"
            >
              <i class="fa fa-star-o"></i>
              <span class="ps-2">Your Rating</span>
            </div>
            <div
              class="col fw-regular text-secondary fs-5 action-button"
              id="action-button"
            >
              <i class="fa fa-heart-o"></i>
              <span class="ps-2">Favorite</span>
            </div>
            <div class="col fw-regular text-secondary fs-5 action-button">
              <i class="fa fa-television"></i>
              <span class="ps-2">Add To Watched</span>
            </div>
            <div class="col fw-regular text-secondary fs-5 action-button">
              <i class="fa fa-film"></i>
              <span class="ps-2">Watch Later</span>
            </div>
            <div class="col fw-regular text-secondary fs-5 action-button">
              <i class="fa fa-times-circle-o"></i>
              <span class="ps-2">Watch Later</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
