<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Enter your username"
                  name="username"
                  [(ngModel)]="model.username"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-lock"></i
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter your password"
                  name="password"
                  [(ngModel)]="model.password"
                />
              </div>
            </div>
            <div class="aligns-content-center">
              <button type="submit" class="btn btn-primary mx-3">Log In</button>
              <button class="btn btn-secondary">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
