<div class="container-fluid" *ngIf="tvShow">
    <!-- HEADER -->
    <div class="header">
        <div class="row"
            style="background-image: url({{imageUrl}}{{tvShow.backdropPath}}); background-repeat: no-repeat; background-size: cover;">
            <div [@slideFromLeft] class="col-md-4" style="width: 22rem;">
                <div class="m-2 my-4">
                    <div class="card shadow rounded-4 border border-4">
                        <img src="{{imageUrl}}{{tvShow.posterPath}}" class="rounded-4" alt="" />
                    </div>
                </div>
            </div>
            <div [@slideFromRight] class="col-md-8">
                <div class="m-2 mb-4 my-4">
                    <div class="card shadow rounded-4 p-3 border-0 bg-darkblue text-white">
                        <div class="card-title h2">
                            <span class="fw-bold">{{tvShow.name}}</span>
                            <span class="text-muted"> ({{tvShow.firstAirDate | date: 'YYYY'}})</span>
                        </div>
                        <div class="d-flex d-inline">
                            <span>{{tvShow.releaseDate | date: 'dd/MM/YYYY'}} </span>
                            <div *ngFor="let genre of tvShow.genres; let last=last">
                                <span>{{genre.name}}</span>
                                <ng-container *ngIf="!last">, </ng-container>&nbsp;
                            </div>
                        </div>
                        <div class="d-flex d-inline mt-4 justify-content-left align-items-center">
                            <div style="width: 35px; height: 35px;"
                                class="card bg-dark text-white rounded-circle border-0 p-2 me-3">
                                <!-- <i class="fa fa-user fa-1x"></i> -->
                                <span class="fw-bold">{{getPopularity(tvShow.voteAverage)}}%</span>
                            </div>
                            <div [ngClass]="{'text-warning': isWatched, 'text-white':!isWatched}"
                                class="card bg-dark text-white rounded-circle border-0 p-2 me-3">
                                <i class="fa fa-list fa-1x"></i>
                            </div>
                            <div (click)="handleFavorite(tvShow.id)"
                                [ngClass]="{'text-warning': isFavorite, 'text-white':!isFavorite}"
                                class="card bg-dark rounded-circle border-0 p-2 me-3">
                                <i class="fa fa-heart fa-1x"></i>
                            </div>
                            <div [ngClass]="{'text-warning': isWatchLater, 'text-white':!isWatchLater}"
                                class="card bg-dark rounded-circle border-0 p-2 me-3">
                                <i class="fa fa-bookmark fa-1x"></i>
                            </div>
                            <div (click)="openRatingModal(ratingTemplate)"
                                [ngClass]="{'text-warning': isRated, 'text-white':!isRated}"
                                class="card bg-dark text-white rounded-circle border-0 p-2 me-3">
                                <i class="fa fa-star fa-1x"></i>
                            </div>
                            <div class="card bg-dark text-white rounded-circle border-0 p-2 me-3">
                                <div class="fw-bold">
                                    <i class="fa fa-play fa-1x"></i>
                                    <span> Play Trailer </span>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <span class="h5 fst-italic text-muted"> {{tvShow.tagline}} </span>
                        </div>
                        <div>
                            <div class="h5 fw-bold">Overview</div>
                            <p>{{tvShow.overview}}</p>
                        </div>
                        <div class="my-3" *ngIf="tvShow.createdBy.length>0">
                            <div class="col-md-12">
                                <div class="scrollable-container">
                                    <div class="scrollable-row" *ngFor="let creator of tvShow.createdBy">
                                        <div class="d-inline">
                                            <div class="fw-bold">{{creator.name}}</div>
                                            <p>Creator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div class="row">
        <div class="col-md-8">
            <!-- TOP CAST -->
            <div [@slideFromBottom]>
                <app-cast-detail [credits]="tvShow.credits"></app-cast-detail>
            </div>
            <!-- SEASONS -->
            <app-seasons-tv-detail [seasons]="tvShow.seasons"></app-seasons-tv-detail>
            <!-- SOCIAL REVIEWS -->
            <app-reviews-detail [reviews]="tvShow.reviews['results']"></app-reviews-detail>
            <hr />
            <!-- Media Section -->
            <app-media-detail [videos]="tvShow.videos['results']" [images]="tvShow.images"></app-media-detail>
            <!-- Recommendations -->
            <app-recommendations-detail
                [recommendations]="tvShow.recommendations['results']"></app-recommendations-detail>
        </div>
        <div class="col-md-4">
            <!-- Now Streaming On -->
            <div class="my-4" *ngIf="1>2">
                <h4 class="fw-bold">Streaming Now</h4>
                <div class="d-inline">
                    <a class="social-media-a me-3">
                        <img src="./assets/netflix.png" [width]="64" [height]="64" alt="">
                    </a>
                    <a class="social-media-a me-3">
                        <img src="./assets/hbo.png" [width]="64" [height]="64" alt="">
                    </a>
                    <!-- PREMIUM FEATURE -->
                    <a class="social-media-a me-3">
                        <img src="./assets/play.png" [width]="64" [height]="64" alt="">
                    </a>
                </div>
            </div>
            <!-- SOCIAL MEDIA ICONS -->
            <div class="social-media my-4 mt-5">
                <h4>Socials</h4>
                <div class="d-inline">
                    <a *ngIf="tvShow.externalIds.facebookId" class="social-media-a me-3"
                        href="{{facebookUrl}}{{tvShow.externalIds.facebookId}}" target="_blank">
                        <i class="fa fa-facebook-square fa-3x"></i>
                    </a>
                    <a *ngIf="tvShow.externalIds.twitterId" class="social-media-a me-3"
                        href="{{twitterUrl}}{{tvShow.externalIds.twitterId}}" target="_blank">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                    <a *ngIf="tvShow.externalIds.instagramId" class="social-media-a me-3"
                        href="{{instagramUrl}}{{tvShow.externalIds.instagramId}}" target="_blank">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                    <a *ngIf="tvShow.externalIds.imdbId" class="social-media-a me-3"
                        href="{{imdbUrl}}{{tvShow.externalIds.imdbId}}" target="_blank">
                        <i class="fa fa-imdb fa-3x"></i>
                    </a>
                    <a *ngIf="tvShow.homepage" class="social-media-a me-3" href="{{tvShow.homepage}}" target="_blank">
                        <i class="fa fa-link fa-3x"></i>
                    </a>

                </div>
            </div>
            <!-- MOVIE FACTS -->
            <div [@slideFromRight]>
                <div class="mb-4">
                    <div class="h5 fw-bold">Status</div>
                    <p *ngIf="tvShow.status" class="h5">{{tvShow.status}}</p>
                    <p *ngIf="!tvShow.status" class="h5 text-muted fw-bold">--</p>
                </div>
                <div class="mb-4">
                    <div class="h5 fw-bold">Original Language</div>
                    <p *ngIf="tvShow.originalLanguage" class="h5">{{getLanguageName(tvShow.originalLanguage)}}</p>
                    <p *ngIf="!tvShow.originalLanguage" class="h5 text-muted fw-bold">--</p>
                </div>
                <div class="mb-4">
                    <div class="h5 fw-bold">Network</div>
                    <div *ngIf="tvShow.networks">
                        <div *ngFor="let network of tvShow.networks">
                            <img src="{{imageUrl}}{{network.logoPath}}" class="mb-2" style="width: 8rem;"
                                alt="{{network.name}}">
                        </div>
                        <p *ngIf="!tvShow.networks" class="h5 text-muted fw-bold">--</p>
                    </div>
                </div>
                <!-- Keywords -->
                <div>
                    <div class="h4">Keywords</div>
                    <div *ngIf="tvShow.keywords.results">
                        <div class="d-inline" *ngFor="let keyword of tvShow.keywords.results">
                            <button class="btn btn-outline-secondary m-1" *ngIf="keyword.name">{{keyword.name}}</button>
                        </div>
                    </div>
                    <div *ngIf="tvShow.keywords.results.length===0">
                        <span class="h5 text-muted fst-italic">No keywords added</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <app-footer-home></app-footer-home>


    <!-- RATING MODAL -->
    <ng-template #ratingTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left" id="my-modal-title">
                Movie Rating
            </h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="my-modal-description">
                <div class="container">
                    <h5>Rate Movie <span *ngIf="isRated" class="me-2 text-muted">{{userRating}}</span> </h5>
                    <div class="text-center">
                        <rating [max]="10" (ngModelChange)="handleRating('add', $event)" [(ngModel)]="userRating"
                            [customTemplate]="tt" class="rating">
                        </rating>
                        <ng-template #tt let-i="index" let-v="value">
                            <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
                                {{i < v ? '&#9733;' : '&#9734;' }} </button>
                        </ng-template>
                    </div>
                    <div class="mt-3" *ngIf="isRated">
                        <button (click)="handleRating('remove')" class="btn btn-secondary">Remove Rating</button>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>